
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    --font-family-body: "Didact Gothic", Arial, Helvetica, sans-serif;
    --font-family-accent: "Futura" , Helvetica, Arial,sans-serif;
    --font-color-body-black: #231f20;
    --font-color-body-white: #e1e0e0;
    --font-color-body-grey: rgb(74, 71, 71);
    --color-background-yellow: #fce373;
    --color-background-black: #151515;
    --color-background-white: #faf9f7;

  }
  
  /* Typography */
  
  body {
    font-family: var( --font-family-body);
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    min-height: 100vh;
    color: var(--font-color-body)
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--font-color-body);
  }
  
  img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 90px;
    line-height: 80px;
    font-family: var(--font-family-accent);
    font-weight: 400;
  }
  

  h2 {
    font-size: 40px;
    font-family: var(--font-family-accent);
    font-weight: 400;
  }

  h3 {
    font-size: 30px;
    font-weight: 400;

  }

  .container-mini {
    padding: 0 25%;
  }
  
  .container-midi {
    padding: 0 8%;
  }

  .container-large {
    padding: 0 1%;
  }

  .btn {
    padding: 15px 25px;
    text-align: center;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

  

