@import "variables";

h1 {
    font-size: 90px;
    line-height: 80px;
    font-family: $font-family-accent;
    font-weight: 400;
}

h2 {
    font-size: 40px;
    font-family: $font-family-accent;
    font-weight: 400;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    font-family: $font-family-accent;
}