@import "../scss/_variables.scss";

.collections-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px 0 10px 0;

  &__header {
    font-size: 90px;
    line-height: 80px;
  }

  &__subheader {
    margin-top: 35px;
    font-size: 40px;
  }
}
.collections {
  &-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;

    &__filter-btn {
      padding: 10px 20px;
      text-align: center;
      font-family: $font-family-accent;
      font-size: 16px;
      background-color: transparent;
      border: 1px solid;
      cursor: pointer;

      &:hover {
        background-color: $color-background-yellow;
      }
      &:focus + &__dropdown,
      &:hover + &__dropdown {
        display: block;
      }
    }

    &__dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      border: 1px solid #ccc;
      background-color: #f9f9f9;

      &-item {
        position: relative;

        &:hover &__dropdown-list {
          display: block;
        }
      }

      &-toggle {
        background-color: #f9f9f9;
        border: none;
        padding: 10px 15px;
        text-align: left;
        cursor: pointer;
        width: 100%;

        &:hover {
          background-color: #ddd;
        }

        &:focus + &__dropdown-list {
          display: block;
        }
      }

      &-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        max-height: 250px;
        overflow-y: auto;
        position: absolute;
        left: 100%;
        top: 0;
        border: 1px solid #ccc;
        background-color: #f9f9f9;

        & > li {
          display: flex;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid #ccc;

          &:last-child {
            border-bottom: none;
          }

          & > input[type="checkbox"] {
            margin-right: 10px;
          }
        }
      }
    }

    &-loading {
      font-family: $font-family-accent;

      &__label {
        margin: 5px;
      }

      &__select {
        width: 60px;
        padding: 5px;
        border: 1px solid #ccc;
        background-color: #fff;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  &-main {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;

    &-card {
      margin-top: 50px;
      max-width: 400px;

      &__image {
        width: 400px;
      }

      &__author {
        color: $font-color-body-grey;
        font-size: 20px;
      }

      &__title {
        font-size: 20px;
        font-weight: bold;
      }

      &__type {
        color: $font-color-body-grey;
        font-size: 18px;
      }

      &__technique {
        color: $font-color-body-grey-light;
        font-size: 16px;
      }
    }

    &__load-btn {
      padding: 10px 20px;
      text-align: center;
      font-family: $font-family-accent;
      font-size: 16px;
      border: none;
      background-color: transparent;
      border: 1px solid;
      margin: 50px auto 0 auto;
      display: block;
      cursor: pointer;

      &:hover {
        background-color: $color-background-yellow;
      }
    }
  }
}
